.bg-body-tertiary {
    --bs-bg-opacity: 0 !important; /*makes bg transparent*/
}
.navbar-brand{
    font-family: Montserrat;
    color: #000 !important;
    opacity: 100%;
    text-transform: uppercase;
}
.navSubContainer{
    align-items: center !important;
    justify-content: center !important;
}

.navSubSub ::before{
    content: "" !important;
    display: block !important;
    height: 1px !important;
    width: 35% !important;
    position: absolute !important;
    top: 50% !important;
    left: -3% !important;
    background: #000 ;
}


.navSubSub::after{
    content: "" !important;
    display: block !important;
    height: 1px !important;
    width: 36% !important;
    position: absolute !important;
    top: 50% !important;
    right: -2.4% !important;
    background: #000 ;
}
  