.uploaderContainer{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    height: 100%;
    margin-top: 2.5%;
}

.containerMain{
    width: 100%;
    height: 100%;
}
.UploaderForm{
    display: flex;
    flex-direction: column;
    justify-content:center !important;
    align-items: center !important;
    border: 2px dashed #a772ea ;
    width:80% !important;
    height: 50vh;
    cursor:pointer;
    border-radius: 5px;
}

.iconText{
    font-family: Montserrat;
    font-weight: 400 !important;
}
.uploaded-row{
    margin:10px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color:#e9f0ff;
    width: 80% !important;
    margin-left: 10%;
}

.upload-content{
    display: flex;
    align-items: center;
    font-family: Montserrat;
    
}