@font-face {
    font-family: 'Arnel';
    src: local('Arnel'),
         url('./fonts/ArnelDemoRegular-1GdXB.otf'),
         url('./fonts/ArnelVintageDemoStamp-jEp10.otf');
}

body{
    background-image: url("./Assets/BG.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}